{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-4">
      <form method="POST">
        {% csrf_token %}
        <h3 class="h3 mb-3 fw-normal">Please enter your email address</h3>
        <div class="mb-3">
          <input type="email" name="email" class="form-control" placeholder="Email Address" required>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Send Password Reset Link</button>
      </form>
    </div>
  </div>
</div>
<br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br><br></br>
{% endblock %}
